<!-- footer -->
      <footer class="he_fot">
        <div class="he_conten2">
          <div class="he_ftybx clearfix">
            <div class="he_ftybxle fl">
              <div class="he_ftybti">
                <p></p>
              </div>
              <div class="he_ftybdj">
              </div>
            </div>
            <div class="he_ftybxri fl clearfix">
              <div class="he_ftynav clearfix fl">
                <div class="he_ftynli fl">
                  <div class="he_ftybti">
                    <p>About Afore</p>
                  </div>
                  <div class="he_ftybta clearfix">
                    <div class="he_ftybtlk">
                     {eyou:modelsartlist typeid="1" type="son" }
                      <a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a>
                     {/eyou:modelsartlist}
                     
                      
                    </div>
                  </div>
                </div>
                <div class="he_ftynli fl">
                  <div class="he_ftybti">
                    <p>Solutions</p>
                  </div>
                  <div class="he_ftybta clearfix">
                    <div class="he_ftybtlk">
                       {eyou:modelsartlist typeid="3" type="son" }
                      <a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a>
                    {/eyou:modelsartlist}
                    </div>
                  </div>
                </div>
                  <div class="he_ftynli fl">
                  <div class="he_ftybti">
                    <p>Products</p>
                  </div>
                  <div class="he_ftybta clearfix">
                    <div class="he_ftybtlk">
                     
                      <a href="#">Single Phase Inverter</a>
                      <a href="#">Three Phase Inverter</a>
                      <a href="#">Energy Storage Inverter</a>
                      <a href="#">Monitoring System</a>
                      <a href="#">Accessories</a>
                    
                    </div>
                    
                     
                      
                    
                    
                  </div>
                </div>
                <div class="he_ftynli fl">
                  <div class="he_ftybti">
                    <p>Support & Service</p>
                  </div>
                  <div class="he_ftybta clearfix">
                    <div class="he_ftybtlk">

                      {eyou:modelsartlist typeid="4" type="son" }

                      <a href="{eyou:field name='typeurl' /}" target="_self">{eyou:field name='typename' /}</a>
                     {/eyou:modelsartlist}

                      
                       {eyou:type typeid="71" id="field"}
                      <a href="{$field.typeurl}" target="_self">{$field.typename}</a>
                     {/eyou:type}
                    </div>
                  
                   
                  </div>
                </div>
                  </div>
              <div class="he_ftshre fl">
                <div class="he_ftybti">
                  <p>Follow us</p>
                </div>

                <div class="he_ftbsul clearfix">
                        <div class="he_ftbsli fl">
                            <div class="he_ftbslt">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/1.ins.svg" alt="1.ins.svg" class="he_img">
                                

                                <img src=" {eyou:global name='web_templets_pc' /}/skin/img/1.ins-180.svg" alt="1.ins-180.svg" class="he_img1">


                                <a target="_blank" title="" href="https://www.instagram.com/afore_pv_inverter/"></a>
                            </div>
                        </div>
                        <div class="he_ftbsli fl">
                            <div class="he_ftbslt">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/2.Facebook-888.svg" alt="2.Facebook-888.svg" class="he_img">


                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/2.Facebook.svg" alt="2.Facebook.svg" class="he_img1">


                                <a target="_blank" title="" href="https://www.facebook.com/AforeNewEnergyTechnology/"></a>
                            </div>
                        </div><div class="he_ftbsli fl">
                            <div class="he_ftbslt">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/3.twiter-248.svg" alt="3.twiter-248.svg" class="he_img">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/3.twiter.svg" alt="3.twiter.svg" class="he_img1">
                                <a target="_blank" title="" href="https://twitter.com/Afore_Inverter"></a>
                            </div>
                        </div><div class="he_ftbsli fl">
                            <div class="he_ftbslt">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/4.lingying-857.svg" alt="4.lingying-857.svg" class="he_img">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/4.lingying.svg" alt="4.lingying.svg" class="he_img1">
                                <a target="_blank" title="" href="https://www.linkedin.com/company/afore-new-energy-technology-shanghai-co-ltd-/"></a>
                            </div>
                        </div>
                        <div class="he_ftbsli fl">
                            <div class="he_ftbslt">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/youtobe%401x-759.svg" alt="youtobe@1x-759.svg" class="he_img">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/youtobe%401xyuanse-825.svg" alt="youtobe@1xyuanse-825.svg" class="he_img1">
                                <a target="_blank" title="" href="https://www.youtube.com/channel/UCfPo0exLtvJBUU7I9jmdM_A
"></a>
                            </div>
                        </div>                    
                    </div>


              </div>
          
            </div>
          </div>
          <div class="he_ftybhj clearfix">
            <div class="he_ftybhjle fl">
              <p>Copyright © 2008-2023 pv inverter manufacturers and Supplier in china All Reserved By Afore New energy
 </p>
            </div>
            <div class="he_ftybhjri fr">
              <p>
                <a href="#">Privacy policy</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
      <div class="he_ladjg">
        <div class="he_conten2">
          <div class="he_cookn clearfix">
            <div class="he_cooknri fl">
              <div class="he_cooknlti">
                <p></p>
              </div>
              <div class="he_cooknlp">
                <p></p>
              </div>
              <div class="he_cooknlyt">
                <a href="" target=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 弹窗公共，每个页面都有 -->
    


    <!-- cookies -->
    <div class="he_cook" id="agreement">
      <div class="he_conten2">
        <div class="he_cookc">
          <div class="he_cooknlti">
            <p></p>
          </div>
          <div class="he_cooknlp">
            <p>Afore attaches great importance to your privacy. When you visit our website, please agree to use all cookies. If you want to know more about how we use cookies, please visit our<a href="#" target="_blank">Privacy policy</a>.</p>
          </div>
          <div class="he_cooknlyt">
            <a href="#" target="_blank">More information</a>
          </div>
          <div class="he_cookmo">
            <div class="he_cooknb he_cooknb1">
              <div class="he_syp2mob">
                <a href="javascript:;" class="getCookie">I Agree</a>
              </div>
            </div>
            <div class="he_cooknb he_cooknb2">
              <div class="he_syp2mob">
                <a href="javascript:;">Disagree</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- public start -->
   
    {eyou:static file='skin/js/sticky.min.js' /}
   
    {eyou:static file='skin/js/jquery-3.6.0.min.js' /}
   
    {eyou:static file='skin/js/slick.min.js' /}

    {eyou:static file='skin/js/jquery.mCustomScrollbar.concat.min.js' /}

   
    {eyou:static file='skin/js/appear.js' /}
  
    {eyou:static file='skin/js/buttonLite.js' /}
 
    {eyou:static file='skin/js/bshareC0.js' /}
  
    {eyou:static file='skin/js/anime.min.js' /}
  
    {eyou:static file='skin/js/wow.min.js' /}
   
    {eyou:static file='skin/js/common.js' /}
   
    {eyou:static file='skin/js/Yongsy.js' /}
   
    {eyou:static file='skin/js/layer.js' /}
   
     <!-- public end -->
    <script>
      new WOW().init();
    </script>
    <script>
    let agreement = sessionStorage.getItem("agreement");
    if(agreement == 1){
        $("#agreement").hide();
    }
      // 新闻轮播
                 $('.he_synewsg').slick({
                      slidesToShow: 1,
                      slidesToScroll: 1,
                      arrows: true,
                      waitForAnimate:false,
                      // dots: true,
                      infinite:false,
                      fade:true
                  });
      
                if ($(window).width() > 1024 &&  $('.he_syp1txgk video').length > 0 ) {
                  $('.he_syp1txgk video').trigger('play');
              }
      
              $('.he_cookmo').click(function () {
                  sessionStorage.setItem("agreement",1);
                //   let agreement = sessionStorage.getItem("agreement");
                //   console.log(agreement,"agreement");
                  $('.he_cook').stop().fadeOut();
              })
              function getData(){
                  var that = $(this);
      
                  $.ajax({
                      url: "#",
                      data: '',
                      dataType: "json",
                      type: "POST",
                      success: function (data) {
                          if(data.status=='success'){
                              if(data.info.msg == "操作成功"){
                                 var one = data.info.data.co2;
                                 var two = data.info.data.totalInverter;
                                 var three = data.info.data.totalPlant;
                                 var four = data.info.data.totalPowerGeneration;
      
                                 three = (three/1000).toFixed(0);
                                 two = (two/1000).toFixed(0);
                                 four = (four/1000000).toFixed(0);
                                 one = (one/1000).toFixed(0);
                                 $('.he_gunt1').text(three);
                                 $('.he_gunt2').text(two);
                                 $('.he_gunt3').text(four);
                                 $('.he_gunt4').text(one);
                              }
                          }else{
                              console.log(data)
                          }
                      },
                      error: function (data) {
                      }
                  });
              }
              $(function () {
      
                  getData();
                  // banner相关
                  bannerInit();
              });
              // banner相关
              function bannerInit() {
                  // 轮播初始化
                  $('.he_banul').slick({
                      slidesToShow: 1,
                      slidesToScroll: 1,
                      arrows: true,
                      dots: true,
                        autoplaySpeed:4000,
                      speed:400,
                      pauseOnDotsHover:true,
                      // fade: true,
                      // prevArrow: ".he_banqgle",
                      // nextArrow: ".he_banqgri",
                      responsive: [{
                          breakpoint: 1024,
                          settings: {
                              autoplay: true,
                          }
                      }]
                  });
                  // 视频播完轮播
                  banVideo(".he_banul");
                  function banVideo(selector) {
                      var $obj = $(selector);
                      if ($(window).width() > 1200 && $obj.find("video").length > 0) {
                          init();
      
                          function init() {
                              firstVideo();
                              videoEnd();
                              afterChange();
                          }
                          // 检验第一屏是否有视频
                          function firstVideo() {
                              var $firSlide = $obj.find(".slick-slide[data-slick-index=0]");
                              var $video = $firSlide.find("video");
                              // autoplay自动播放
                              if ($video.length > 0) {
                                  $obj.slick('slickPause');
                                  // 如果轮播只有一个循环播放
                                  if ($obj.get(0).slick.slideCount < 2) {
                                      $video.attr("loop", "loop");
                                  }
                                  if ($video.get(0).paused) {
                                      setTimeout(function() {
                                          $video.get(0).play();
                                      }, 100)
                                  }
                              } else {
                                  $obj.slick('slickPlay');
                              }
                          }
                          // 切换到下一张是否有视频
                          function afterChange() {
                              $obj.on('afterChange', function(event, slick, index) {
                                  // 视频暂停并回到第一帧
                                  $obj.find("video").each(function() {
                                      var video = $(this).get(0);
                                      video.pause();
                                      video.currentTime = 0;
                                  });
                                  // 有视频则暂停轮播
                                  var $nowSlide = $(slick.$slides[index]);
                                  var $video = $nowSlide.find("video");
                                  if ($video.length > 0) {
                                      $obj.slick('slickPause');
                                      $video.get(0).play();
                                  }else{
                                      $obj.slick('slickPlay');
                                  }
      
                              });
                          }
                          // 视频播完切换到下一张
                          function videoEnd() {
                              $obj.find("video").each(function() {
                                  var video = $(this).get(0);
                                  video.onended = function() {
                                      $obj.slick("next");
                                      $obj.slick('slickPlay');
                                  };
                              });
                          };
                      } else {
                          $obj.slick('play');
                      }
                  };
              }
      
              // 数字滚动
              $(".he_gunt").appear(function () {
                  var count = $(this).text();
                  var counts = parseInt(count.replace(/,/, ""));
                  $(this).countTo({
                      form: 1,
                      to: counts,
                      speed: 1500,
                      refreshInterval: 90,
                      onComplete: function () {
                          $(this).text(count);
                      }
                  });
              });
      
              if ($(window).width() > 1024) {
                  $(".he_syp3n").appear(function () {
                      $(this).addClass('width')
                  })
              }
      
              // part1
              $(".he_syp1txg").slick({
                  slidesToShow: 1,
                  // vertical: true,
                  fade:true,
                  autoplaySpeed: 16000,
                  autoplay: true,
                  cssEase: "ease-in",
                  pauseOnHover: false,
                  swipe: false,
                  draggable: false,
                  responsive: [{
                      breakpoint: 769,
                      settings: {
                          vertical: false,
                      }
                  }]
              })
      
              $(".he_syp1eli").click(function () {
                  var index = $(this).index();
                  $(this).addClass("act").siblings().removeClass("act");
                  $(".he_syp1txg").slick("slickGoTo", index)
              })
              $('.he_syp1txg').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                  var index = nextSlide;
                  $(".he_syp1eli").eq(index).addClass("act").siblings().removeClass("act");
              });
      
              // 新闻图片hover切换
              $('.he_syp2rli').hover(function () {
                  var index = $(this).index();
                  $(".he_synewsg").slick("slickGoTo", index)
                  $(this).addClass("act").siblings().removeClass("act");
              })
              $('.he_syp3n').hover(function () {
                  $(this).addClass('he_phide1');
                  $(this).removeClass('he_phide');
      
              }, function () {
                  $(this).addClass('he_phide');
                  $(this).removeClass('he_phide1');
      
              })
      
              $(".he_syp3n").mouseleave(function () {
                  setTimeout(function () {
                      $(".he_syp3n").removeClass('he_phide');
                  }, 300)
              });
    </script>



    <script>
      console.log('%c','color:green')
    </script>