<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no, email=no" />
        <meta name="renderer" content="webkit" />
        <title>{$eyou.field.seo_title}-{eyou:global name='web_name' /}</title>
        <meta name="description" content="{$eyou.field.seo_description}" />
        <meta name="keywords" content="{$eyou.field.seo_keywords}" />

        {eyou:static file='skin/css/iframe.css' /}
        <!-- public start -->

        {eyou:static file='skin/css/bootstrap.min-v3.3.5.css' /}
        {eyou:static file='skin/css/slick.css' /}

        {eyou:static file='skin/css/slick-theme.css' /}

        {eyou:static file='skin/css/animate.min.css' /}

        {eyou:static file='skin/css/base-v1.4.css' /}

        {eyou:static file='skin/css/jquery.mCustomScrollbar.min.css' /}

        {eyou:static file='skin/css/animate.min.css' /}

        {eyou:static file='skin/css/iconfont.css' /}

        {eyou:static file='skin/css/main.css' /}

        {eyou:static file='skin/css/media.css' /}

        {eyou:static file='skin/css/he_base.css' /}

        {eyou:static file='skin/css/swiper.min.css' /}
    </head>

 <body> 
  <div class="he_nyym he_b7ye"> 
   

 {eyou:include file="head.htm" /}





   <!-- 内页banner --> 
   <div class="he_banbx he_banbx1">   
    <div class="he_banli"> 
     <div class="he_banig"> 
       <img src="{$eyou.field.typelitpic}" class="he_banpc" alt="">
                       <img src="{$eyou.field.typelitpic}" class="he_banph" alt="">
     </div> 
     <!-- banner文字 --> 
     <div class="he_bante"> 
      <div class="he_conten1"> 
       <div class="he_bantnv"> 
        <div class="he_bantti1"> 
         <h1>{$eyou.field.typename}</h1> 
        </div> 
        <div class="he_c03xioti"> 
         <p></p> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- 招聘 --> 
     <div class="he_k2zhp"> 
      {eyou:type typeid="86"   id="field"}
      <div class="he_k2zhpli fl" style="background: linear-gradient(195.73deg, rgba(255, 97, 63, 0.5) 7.82%, rgba(236, 2, 20, 0.5) 87."> 
       <a href="{$field.typeurl}" target="_self"> 
        <div class="he_k2zhjx"> 
         <div class="he_k2zhjxv clearfix"> 
          <div class="he_k2zhjle fl"> 
           <div class="he_k2zhjic"> 
            <img src="{eyou:global name='web_templets_pc' /}/skin/img/k2iv1.svg" alt="k2iv1.svg" /> 
           </div> 
           <div class="he_k2zhjte"> 
            <p>{$field.typename}</p> 
           </div> 
          </div> 
          <div class="he_k2zhjri fl"> 
           <img src="{eyou:global name='web_templets_pc' /}/skin/img/k2iv3.svg" alt="" /> 
          </div> 
         </div> 
        </div> </a> 
      </div>
      {/eyou:type}
      {eyou:type typeid="87"   id="field"}

      <div class="he_k2zhpli fl"> 
       <a href="{$field.typeurl}" target="_self"> 
        <div class="he_k2zhjx"> 
         <div class="he_k2zhjxv clearfix"> 
          <div class="he_k2zhjle fl"> 
           <div class="he_k2zhjic"> 
            <img src="{eyou:global name='web_templets_pc' /}/skin/img/k2iv2.svg" alt="k2iv2.svg" /> 
           </div> 
           <div class="he_k2zhjte"> 
            <p>{$field.typename}</p> 
           </div> 
          </div> 
          <div class="he_k2zhjri fl"> 
           <img src="{eyou:global name='web_templets_pc' /}/skin/img/k2iv3.svg" alt="" /> 
          </div> 
         </div> 
        </div> </a> 
      </div>
      {/eyou:type}



     </div> 
    </div> 
   </div> 
   <!-- 主体内容 --> 
   <div class="he_main"> 
    <!--面包屑--> 


     

                         <div class="s_d2content s_b7content jian1">
                         <div class="he_bordkm">

                           <div class="s_cont1360">
                            <div class="he_bordul clearfix">
                                <div class="he_bordfr fl">
                                    <a href="/">
                                        <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi1.svg" alt="" class="he_int1">
                                        <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi2.svg" alt="" class="he_int2">
                                    </a>
                                </div>
                                <div class="he_bordli fl">
                                    &gt;
                                    
                                       {eyou:position style=' '/}
                                    
                                </div>
                              
                            </div>
                        </div>
                    </div>


                        <div class="s_b7cont2 s_cont1360">
                            <div class="s_b7cont2qh">
                                <div class="s_b2_2c1top3   g_fadeup1">
                                   
                                </div>

                                <div class="s_b7mian">

                              {eyou:list loop="10" }
                                    

                                    <div class="s_b7new wow g_fadeup1">
                                        <a>
                                            <div class="s_b7newtop clearfix">
                                                <div class="s_b7newtopr">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="s_b7newtopl fl font1">
                                                    <h4>
                                                       Position Title &nbsp;&nbsp;{$field.title} &nbsp;&nbsp;&nbsp;&nbsp;Contact US:&nbsp;&nbsp;info@aforenergy.com
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="s_b7newbot">
                                                <div class="s_b7newbotop">
                                                    <span>
                                                        Number of recruits: 
                                                    </span>
                                                   
                                                    <span>
                                                        Post salary: 
                                                    </span>
                                                    <span>
                                                        Education: 
                                                    </span>
                                                     <span>
                                                        Release time: 
                                                    </span>
                                                </div>
                                                <div class="s_b7newbotnr clearfix">
                                                    <div class="s_b7newbotnrl font1 fl">
                                                        <h4>
                                                            gangweijieshao
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                 {/eyou:list}



                                   




                                  </div>




                            </div>

                            </div>
                          </div>
    



   </div> 
   <!-- footer --> 


    {eyou:include file="bottom.htm" /}
  <!-- public end --> 
  <script>
        new WOW().init();
    </script> 
  <script>
        $('.he_k2p2nkli').hover(function () {
            $(this).find('.he_k2p2npd').stop().slideDown();
            $(this).addClass('on');
            $(this).siblings().find('.he_k2p2npd').stop().slideUp();
            $(this).siblings().removeClass('on');
        })

        $('.he_k2p3lyli').hover(function () {
            $(this).find('.he_k2p3lyuc').stop().slideDown();
            $(this).addClass('on');
            $(this).siblings().find('.he_k2p3lyuc').stop().slideUp();
            $(this).siblings().removeClass('on');
        })
        $('.he_k2p2nkli').hover(function(){
            var qiehuan1  = $(this).index();
            $('.he_k2p2nri img').eq(qiehuan1).stop().fadeIn().siblings().stop().hide();
        })
        $('.he_k2p3lyli').hover(function(){
           var qiehuan2 = $(this).index();
            $(this).parents('.he_k2p3lk').find('.he_k2p3lkle img').eq(qiehuan2).stop().fadeIn().siblings().stop().hide();
        })

    </script> 
  
 </body>
</html>