<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <meta name="format-detection" content="telephone=no, email=no" /> 
  <meta name="renderer" content="webkit" /> 
  <title>{$GLOBALS['S']['title']}</title> 
  <meta name="keywords" content="{$GLOBALS['S']['keywords']}" /> 
  <meta name="description" content="【{$GLOBALS['S']['description']}" /> 
  <link href="{$GLOBALS['skin']}css/iframe.css" type="text/css" rel="stylesheet" /> 
  <!-- public start --> 
  <link href="{$GLOBALS['skin']}css/bootstrap.min-v3.3.5.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/slick.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/slick-theme.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/animate.min.css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/base-v1.4.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/jquery.mCustomScrollbar.min.css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/animate.min.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/iconfont.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/main.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/media.css" rel="stylesheet" type="text/css" /> 
  <link href="{$GLOBALS['skin']}css/he_base.css" type="text/css" rel="stylesheet" /> 
  <link href="{$GLOBALS['skin']}css/swiper.min.css" rel="stylesheet" type="text/css" /> 
  <!-- public end --> 
  <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--> 
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  <!--Favicons--> 
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40216122-28"></script>--> 
  <!--<script>--> 
  <!--window.dataLayer = window.dataLayer || [];--> 
  <!--function gtag(){dataLayer.push(arguments);}--> 
  <!--gtag('js', new Date());--> 
  <!--gtag('config', 'UA-40216122-28');--> 
  <!--</script>--> 
 </head> 
    <body>
          <!-- 头部文件 -->
          {include="head.html"}

            <!-- 内页banner -->
            <div class="he_banbx he_banbx1">
                <div class="he_banli">
                    <div class="he_banig">
                        <img src="{$GLOBALS['skin']}img/fuwuzhongxin-PC-675.jpeg" class="he_banpc" alt="fuwuzhongxin-PC-675.jpg">
                        <img src="{$GLOBALS['skin']}img/zhibaoxiangguan-shouji.jpeg" class="he_banph" alt="zhibaoxiangguan-shouji.jpg">
                    </div>
                    <!-- banner文字 -->
                    <div class="he_bante">
                        <div class="he_conten1">
                            <div class="he_bantnv">
                                <div class="he_bantti1">
                                    <h1>
                                        <p>
                                           Warranty
                                        </p>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 主体内容 -->
            <div class="he_main">
                <div class="he_k5p1">
                    <!--面包屑-->
                    <div class="he_bordkm"> 
     <div class="s_cont1360"> 
      <div class="he_bordul clearfix"> 
       <div class="he_bordfr fl"> 
      <!--   <a href="/"> <img src="{$GLOBALS['skin']}img/bordi1.svg" alt="" class="he_int1" /> <img src="{$GLOBALS['skin']}img/bordi2.svg" alt="" class="he_int2" /> </a>  -->
       </div> 
      <!--  <div class="he_bordli fl">
         &gt; 
       {$positions}

       </div> -->
      
      </div> 
     </div> 
    </div> 
                   

                    <div class="he_conten1">
                        <div class="he_k5p1bt clearfix">
                            
                            <div class="he_k5p1ri fl">
                                <div class="he_k5p1ribn">
                                    <div class="he_k5p1ex">
                                        <div class="he_k5p1de clearfix">
                                            <div class="he_k5p1dele fl">
                                                <div class="he_k5p1din">
                                                    <div class="s_b2_2c1search s_xljj">
                                                        <input type="text" placeholder=" Please enter the serial number to check " name="keys" value="">
                                                        <img src="{$GLOBALS['skin']}img/b2_2icon1.png" alt="" class="keywords">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="he_k5p1deri fr">
                                                <p>
                                                    Search
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="he_k5p1djg">
                                        <div class="he_k5p1dte">
                                            <p>
                                                <span class="search">
                                                </span>
                                                Search Result
                                            </p>
                                        </div>
                                        <div class="he_k5p1dld">
                                            <div class="he_k5p1dldli clearfix">
                                                <div class="he_k5p1dsle fl">
                                                    <p>
                                                        SN
                                                    </p>
                                                </div>
                                                <div class="he_k5p1dsri fl one">
                                                    <p>
                                                        sn11100000232
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="he_k5p1dldli clearfix">
                                                <div class="he_k5p1dsle fl">
                                                    <p>
                                                        Product Model
                                                    </p>
                                                </div>
                                                <div class="he_k5p1dsri fl two">
                                                    <p>
                                                        sn11100000232
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="he_k5p1dldli clearfix">
                                                <div class="he_k5p1dsle fl">
                                                    <p>
                                                        Warranty Period (Year)
                                                    </p>
                                                </div>
                                                <div class="he_k5p1dsri fl three">
                                                    <p>
                                                        sn11100000232
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="he_k5p1dldli clearfix">
                                                <div class="he_k5p1dsle fl">
                                                    <p>
                                                       End of Warranty (MM-DD-YYYY)
                                                    </p>
                                                </div>
                                                <div class="he_k5p1dsri fl three">
                                                    <p>
                                                        sn11100000232
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                


<div class="he_k5p3">
    <div class="he_k5p3ti">
        <div class="he_k5p2ti">
            <h2 class="he_x40ft">
                Warranty Terms (Overseas)
                <p></p>
            </h2>
            <br>
              
              <h2 class="he_x40ft" style="font-size: 16px;color: #e50011;">
                Download
                
              </h2>
          
        </div>
        <div class="he_b1p4bjgk wow g_fadeup1" style="width: 100%;
    position: relative;
    margin-top: 64px;
    padding: 0 80px;
    padding-bottom: 70px;">
            
            {$type['body']} 
            

        </div>
        

        </div>
    </div>

</div>


            </div>




            <!-- footer -->
            {include="bottom.html"}
        

      



        <!-- public end -->
        <script>
            new WOW().init();
        </script>
       
       
    </body>

</html>