{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【使用方法】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <p>导入数据</p>
                <p><img src="__WEAPP_TEMPLATE__/skin/images/1.png" style="max-width: 600px;"></p>
                <p>导出数据</p>
                <p><img src="__WEAPP_TEMPLATE__/skin/images/2.png" style="max-width: 600px;"></p>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}