<!-- 语言 -->
<div class="he_index">
  <!-- pc顶部导航 -->
  <header class="he_pc_hd">
    <div class="he_langgz">
      <div class="he_langrf">
        <div class="s_cont1360">
          <div class="he_langgzn">
            <div class="he_langgul clearfix">
              <div class="he_langgli fl">
                <div class="he_lanjx">
                  <div class="he_lanjxti he_ftybti">
                    <p>APAC</p>
                  </div>
                  <div class="he_lanjd">
                    <p>
                      <a href="https://www.aforenergy.com">English (Global)</a>
                    </p>
                  </div>

                  <div class="he_lanjd">
                    <p>
                      <a href="https://cn.aforenergy.com">中文</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="he_langgli fl">
                <div class="he_lanjx">
                  <div class="he_lanjxti he_ftybti">
                    <p>AMER</p>
                  </div>
                  <div class="he_lanjd">
                    <p>
                      <a href="https://www.aforenergy.com">English</a>
                    </p>
                  </div>
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Português (BR)</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('')">Español (LATAM)</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="he_langgli fl">
                <div class="he_lanjx">
                  <div class="he_lanjxti he_ftybti">
                    <p>EMEA</p>
                  </div>
                  <div class="he_lanjd">
                    <p>
                      <a href="https://www.aforenergy.com">English</a>
                    </p>
                  </div>
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Español (ES)</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Deutsch</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Français</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Dutch</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Polish</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                  <!--<div class="he_lanjd">-->
                  <!--  <p>-->
                  <!--    <a onclick="aWeb('#')">Italiano</a>-->
                  <!--  </p>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="he_pcbx">
      <div class="he_pcbxn clearfix">
        <div class="he_pcbxle fl">
          <a href="/">
            <img
              src="{eyou:global name='web_templets_pc' /}/skin/img/logo20221208.svg"
              class="he_img"
              alt="{eyou:global name='web_name' /}"
            />
          </a>
        </div>
        <div class="he_pcbxri fr clearfix">
          <div class="he_pcnav clearfix fl">
            <!-- nav 1 -->
            <div class="he_pcnli fl">
              {eyou:type typeid="1" id="field"}
              <a href="{$field.typeurl}" target="_self" class="he_pcnava"
                >{$field.typename}</a
              >
              {/eyou:type}
              <!-- 下拉 -->
              <div class="he_gdown he_gdown1">
                <div class="he_conten3">
                  <div class="he_xlatr clearfix">
                    <div class="he_xiala">
                      <div class="he_xialale">
                        <div
                          class="he_xialaul clearfix"
                          style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          "
                        >
                          {eyou:type typeid="8" id="field"}
                          <div class="he_xialali fl">
                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="width: fit-content"
                                >
                                  <p>{$field.typename}</p>
                                  <!-- 公司简介 -->
                                </div>
                              </a>
                            </div>
                          </div>
                          {/eyou:type} {eyou:type typeid="2" id="field"}

                          <div class="he_xialali fl">
                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/3-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div class="he_xialacri fl">
                                  <p>{$field.typename}</p>
                                  <!-- 课堂 -->
                                </div>
                              </a>
                            </div>
                          </div>
                          {/eyou:type} {eyou:type typeid="68" id="field"}
                          <div class="he_xialali fl">
                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/2.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div class="he_xialacri fl">
                                  <p>{$field.typename}</p>
                                  <!-- 荣誉 -->
                                </div>
                              </a>
                            </div>
                          </div>
                          {/eyou:type} {eyou:type typeid="9" id="field"}
                          <div class="he_xialali fl">
                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div class="he_xialacri fl">
                                  <p>{$field.typename}</p>
                                  <!-- 公司简介 -->
                                </div>
                              </a>
                            </div>
                          </div>
                          {/eyou:type}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nav - 2 -->
            <div class="he_pcnli fl">
              {eyou:type typeid="3" id="field"}
              <a href="{$field.typeurl}" target="_self" class="he_pcnava"
                >{$field.typename}</a
              >
              {/eyou:type}
              <!-- 产品下拉 -->
              <div
                class="he_gdown he_gdown2"
                style="padding-top: 20px; padding-bottom: 30px"
              >
                <div class="he_conten3">
                  <div class="he_xialtw clearfix">
                    <div class="he_xialtwle fl">
                      <div class="he_laswkf">
                        {eyou:type typeid="20" id="field"}
                        <div class="he_laswkfli clearfix act">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang1.svg"
                              alt="fw.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="21" id="field"}
                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang2.svg"
                              alt="wuding.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="22" id="field"}
                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang3.svg"
                              alt="wuding.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="69" id="field"}

                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang4.svg"
                              alt="dianli.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="95" id="field"}

                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang5.svg"
                              alt="dianli.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="70" id="field"}

                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang6.svg"
                              alt="dianli.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type} {eyou:type typeid="94" id="field"}

                        <div class="he_laswkfli clearfix">
                          <div class="he_laswkfle fl">
                            <img
                              src="{eyou:global name='web_templets_pc' /}/skin/img/daohang7.svg"
                              alt="dianli.svg"
                            />
                          </div>
                          <div class="he_laswkfri fl">
                            <a href="{$field.typeurl}" target="_self">
                              <p>{$field.typename}</p>
                            </a>
                          </div>
                        </div>
                        {/eyou:type}

                        <!--  <div class="he_laswkfli clearfix ">
                              <div class="he_laswkfle fl">
                                <img src="{$GLOBALS['skin']}img/dian.svg" alt="dian.svg">
                              </div>
                              <div class="he_laswkfri fl">
                                <a href="/products?tp5" target="_self">
                                  <p>电池</p>
                                </a>
                              </div>
                            </div>
                            <div class="he_laswkfli clearfix ">
                              <div class="he_laswkfle fl">
                                <img src="{$GLOBALS['skin']}img/Frame49.svg" alt="Frame49.svg">
                              </div>
                              <div class="he_laswkfri fl">
                                <a href="/products?tp6" target="_self">
                                  <p>智慧能源配套产品</p>
                                </a>
                              </div>
                            </div> -->
                      </div>
                    </div>
                    <div class="he_xialtwri fl">
                      <!-- 逆变器系统 -->
                      <div class="he_xialwxul">
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="20" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>

                          {/eyou:artlist}
                        </div>
                      </div>

                      <div class="he_xialwxul">
                        <!-- 储能系统 -->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="21" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>

                      <div class="he_xialwxul">
                        <!-- 监控系统 -->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="22" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>

                      <div class="he_xialwxul">
                        <!-- 配套产品-->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="69" ordermode="asc"
                          flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>
                      <div class="he_xialwxul">
                        <!-- 配套产品-->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="95" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>

                      <div class="he_xialwxul">
                        <!-- 配套产品-->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="70" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>
                      <div class="he_xialwxul">
                        <!-- 配套产品-->
                        <div class="he_xialtrul clearfix">
                          {eyou:artlist loop="60" typeid="94" orderby="new"
                          ordermode="asc" flag="c" }

                          <div class="he_xialtrli fl">
                            <a
                              href="{$field.arcurl}"
                              target="_self"
                              class="clearfix"
                            >
                              <div class="he_xialtrig">
                                <img
                                  src="{eyou:field aid='$field.aid' addfields='dhcptu' /}"
                                  class="mCS_img_loaded"
                                />
                              </div>
                              <div class="he_xialtrxf">
                                <p>{$field.title}</p>
                              </div>
                            </a>
                          </div>
                          {/eyou:artlist}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- nav - 3 -->
            <div class="he_pcnli fl">
              {eyou:type typeid="4" id="field"}
              <a
                href="index.php?m=home&c=Lists&a=index&tid=72"
                target="_self"
                class="he_pcnava"
                >Support & Service</a
              >
              {/eyou:type}

              <!-- 下拉 -->
              <div class="he_gdown he_gdown5">
                <div
                  class="he_conten3"
                  style="width: 100%; margin: 5px auto 10px auto"
                >
                  <div class="he_xlatr clearfix">
                    <div class="he_xiala clearfix fl" style="width: 100%">
                      <div class="he_xialale">
                        <div
                          class="he_xialaul clearfix"
                          style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          "
                        >
                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="72" id="field"}

                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>Download</p>
                                </div>
                              </a>
                            </div>
                            {/eyou:type}
                          </div>

                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="73" id="field"}

                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>Warranty</p>
                                </div>
                              </a>
                            </div>
                            {/eyou:type}
                          </div>

                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="74" id="field"}
                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>Online Support</p>
                                </div>
                              </a>
                            </div>
                            {/eyou:type}
                          </div>

                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="76" id="field"}

                            <div class="he_xialach">
                              <a
                                href="{$field.typeurl}"
                                target="_self"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>FAQs</p>
                                </div>
                              </a>
                            </div>

                            {/eyou:type}
                          </div>

                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="96" id="field"}
                            <div class="he_xialach">
                              <a
                                href="https://pr.aforenergy.com/login"
                                target="_blank"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>Monitoring For Business</p>
                                </div>
                              </a>
                            </div>
                            {/eyou:type}
                          </div>

                          <div class="he_xialali fl" style="width: fit-content">
                            {eyou:type typeid="97" id="field"}
                            <div class="he_xialach">
                              <a
                                href="https://hom.aforenergy.com/login"
                                target="_blank"
                                class="clearfix"
                              >
                                <div class="he_xialacle fl">
                                  <!--<img src="{eyou:global name='web_templets_pc' /}/skin/img/1-187.png" />-->
                                  <img src="{$field.icon}" />
                                </div>
                                <div
                                  class="he_xialacri fl"
                                  style="
                                    width: 100%;
                                    padding: 0;
                                    padding-left: 20px;
                                  "
                                >
                                  <p>Monitoring For End User</p>
                                </div>
                              </a>
                            </div>
                            {/eyou:type}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  <div class="he_xiacode fl">
                          <div class="he_xcodig">
                            <img src="{eyou:global name='web_templets_pc' /}/skin/img/ewm.jpg" alt="codesh.jpg">
                          </div>
                          <div class="he_xcodete">
                            <p>Service Centre</p>
                          </div>
                        </div> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- nav - 4 -->
            <div class="he_pcnli fl">
              {eyou:type typeid="77" id="field"}

              <a href="{$field.typeurl}" target="_self" class="he_pcnava"
                >{$field.typename}</a
              >
              {/eyou:type}

              <!--  案例 -->
              <!-- 下拉 -->
              <!--   <div class="he_gdown he_gdown3">
                    <div class="he_conten3">
                      <div class="he_xialtw clearfix">
                        <div class="he_xialtwle fl">
                          {loop table="classtype" tid="3" body="1" limit="1" as="v"}

                          <div class="he_xialtwti">
                            <a href="{$v['url']}" target="_self" class="clearfix">
                              <div class="he_xialtwtile fl">
                                <p>Solutions</p>
                              </div>
                              <div class="he_xialtwtiri fl">
                                <img src="{$GLOBALS['skin']}img/dwic05.svg" alt="">

                              </div>
                            </a>
                          </div>
                          {/loop}

                          <div class="he_xialtwul">

                            {loop table="classtype" tid="24" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/dwic05.png" alt="dwic05.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}

                            {loop table="classtype" tid="25" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/gongshangye-177.png" alt="gongshangye-177.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}

                            {loop table="classtype" tid="26" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/dimian-117.png" alt="dimian-117.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}



                          </div>
                        </div>
                        <div class="he_xialtwri fl">
                          <div class="he_xialtwti">
                            {loop table="classtype" tid="65" body="1" limit="1" as="v"}
                            <a href="{$v['url']}" target="_self" class="clearfix">
                              <div class="he_xialtwtile fl">
                                <p>Application cases</p>
                              </div>
                              <div class="he_xialtwtiri fl">
                                <img src="{$GLOBALS['skin']}img/dwic05.svg" alt="" class="">
                              </div>
                            </a>
                          </div>
                          {/loop}

                          <div class="he_xialtrul clearfix">
                            {loop table="article" tid="64" trait="2"  image="1"   limit="3" as="v"}

                            <div class="he_xialtrli fl ">
                              <a href="{$v['url']} " target="_self" class="clearfix">
                                <div class="he_xialtrig">
                                  <img src="{$v['litpic']} " class="mCS_img_loaded">
                                </div>
                                <div class="he_xialtrxf">
                                  <p>{$v['title']}</p>
                                </div>
                              </a>
                            </div>
                            {/loop}






                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
            </div>

            <!-- nav - 5 -->
            <div class="he_pcnli fl">
              {eyou:type typeid="71" id="field"}

              <a href="{$field.typeurl}" target="_self" class="he_pcnava"
                >{$field.typename}</a
              >
              {/eyou:type}

              <!--  案例 -->
              <!-- 下拉 -->
              <!--   <div class="he_gdown he_gdown3">
                    <div class="he_conten3">
                      <div class="he_xialtw clearfix">
                        <div class="he_xialtwle fl">
                          {loop table="classtype" tid="3" body="1" limit="1" as="v"}

                          <div class="he_xialtwti">
                            <a href="{$v['url']}" target="_self" class="clearfix">
                              <div class="he_xialtwtile fl">
                                <p>Solutions</p>
                              </div>
                              <div class="he_xialtwtiri fl">
                                <img src="{$GLOBALS['skin']}img/dwic05.svg" alt="">

                              </div>
                            </a>
                          </div>
                          {/loop}

                          <div class="he_xialtwul">

                            {loop table="classtype" tid="24" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/dwic05.png" alt="dwic05.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}

                            {loop table="classtype" tid="25" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/gongshangye-177.png" alt="gongshangye-177.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}

                            {loop table="classtype" tid="26" body="1" limit="1" as="v"}

                            <div class="he_xialtwli ">
                              <a href="{$v['url']}" target="_self" class="clearfix">
                                <div class="he_xialtwic fl">
                                  <img src="{$GLOBALS['skin']}img/dimian-117.png" alt="dimian-117.png">
                                </div>
                                <div class="he_xialtwte fl">
                                  <div class="he_xialtwtp1">
                                    <p>{$v['classname']}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                            {/loop}



                          </div>
                        </div>
                        <div class="he_xialtwri fl">
                          <div class="he_xialtwti">
                            {loop table="classtype" tid="65" body="1" limit="1" as="v"}
                            <a href="{$v['url']}" target="_self" class="clearfix">
                              <div class="he_xialtwtile fl">
                                <p>Application cases</p>
                              </div>
                              <div class="he_xialtwtiri fl">
                                <img src="{$GLOBALS['skin']}img/dwic05.svg" alt="" class="">
                              </div>
                            </a>
                          </div>
                          {/loop}

                          <div class="he_xialtrul clearfix">
                            {loop table="article" tid="64" trait="2"  image="1"   limit="3" as="v"}

                            <div class="he_xialtrli fl ">
                              <a href="{$v['url']} " target="_self" class="clearfix">
                                <div class="he_xialtrig">
                                  <img src="{$v['litpic']} " class="mCS_img_loaded">
                                </div>
                                <div class="he_xialtrxf">
                                  <p>{$v['title']}</p>
                                </div>
                              </a>
                            </div>
                            {/loop}






                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
            </div>
          </div>
          <div class="he_pcser fl">
            <i class="iconfont icon-search"></i>
            <div class="mc_search_xl">
              <div class="mc_scm_container mc_pos_center">
                <form class="mc_scm_form" onsubmit="return false">
                  <div class="mc_msc_box">
                    <input
                      type="text"
                      placeholder="Please enter..."
                      class="mc_msc_input"
                      autocomplete="off"
                      id="keywords"
                    />
                    <div class="mc_msc_submit" onclick="search()">
                      <img
                        src="{eyou:global name='web_templets_pc' /}/skin/img/heaser1.png"
                        alt=""
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="he_lang fl">
            <div class="he_langp clearfix">
              <div class="he_langple fl">
                <img
                  src="{eyou:global name='web_templets_pc' /}/skin/img/lange.svg"
                  alt=""
                />
              </div>
              <div class="he_langpri fl">
                <img
                  src="{eyou:global name='web_templets_pc' /}/skin/img/lanx.png"
                  alt=""
                />
              </div>
            </div>
            <div class="he_langla">
              <a href=""></a>
            </div>
          </div>

          {eyou:type typeid="68" id="field"}

          <div class="he_phone fl">
            <a href="{$field.typeurl}" target="_self" class="clearfix">
              <div class="he_phonle fl">
                <img
                  src="{eyou:global name='web_templets_pc' /}/skin/img/heato.png"
                  alt=""
                />
              </div>
              <div class="he_phonri fl">
                <p>Contact</p>
              </div>
            </a>
          </div>
          {/eyou:type}
        </div>
      </div>
    </div>
  </header>
  <!-- ph导航 -->
  <div class="ys_navph2_header">
    <!-- 导航条 -->
    <nav class="ys_navph2_navbar clearfix">
      <!-- 搜索按钮 -->
      <div class="ys_navph2_search fl">
        <div class="ys_navph2_search_btn">
          <img
            src="{eyou:global name='web_templets_pc' /}/skin/img/search2.png"
            alt=""
          />
        </div>
        <!-- 搜索弹窗 -->
        <div class="ys_navph2_modal">
          <div class="ys_navph2_modalmbox">
            <div class="ys_navph2_modalm">
              <div class="ys_navph2_msc_box clearfix">
                <div class="ys_navph2_msc_boxl fl">
                  <input
                    type="text"
                    placeholder="Please enter keywords!"
                    class="ys_navph2_msc_input"
                    id="phkeywords"
                  />
                </div>
                <div class="ys_navph2_msc_boxr fr">
                  <button onclick="phsearch()">
                    <img
                      src="{eyou:global name='web_templets_pc' /}/skin/img/search2.png"
                      alt=""
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ys_navph2_navfl fl">
        <!-- logo -->
        <div class="ys_navph2_logo">
          <a href="/" class="ys_navph2_logo_btn">
            <img
              src="{eyou:global name='web_templets_pc' /}/skin/img/logo20221208.svg"
              alt="logo1.svg"
            />
          </a>
        </div>
      </div>
      <div class="ys_navph2_navfr fr clearfix">
        <!-- 菜单 -->
        <div class="ys_navph2_menu fl">
          <div class="ys_navph2_menu_btn">
            <span class="ys_navph2_menu_line"></span>
          </div>
        </div>
      </div>
    </nav>
    <!-- 下拉 -->
    <div class="ys_navph2_list">
      <ul class="ys_navph2_subnav">
        <!-- 一级 -->
        <li class="ys_navph2_subnav_li">
          <div class="ys_navph2_subnav_lisbox">
            <a href="/" target="_self" class="ys_navph2_subnav_a yxnav_active1"
              >Home</a
            >
          </div>
          <!-- 二级 -->
          <ul class="ys_navph2_thirnav"></ul>
        </li>

        {eyou:models type="top" loop="60" id="field" }
        <li class="ys_navph2_subnav_li">
          <div class="ys_navph2_subnav_lisbox">
            <a
              href="{$field.typeurl}"
              target="_self"
              class="ys_navph2_subnav_a"
            >
              {$field.typename}
            </a>
            <div class="ys_navph2_nav_icon"></div>
          </div>
          <!-- 二级 -->
          <ul class="ys_navph2_thirnav">
            {eyou:notempty name="$field.children"} {eyou:models
            name="$field.children" loop="100" id="field2"}

            <li class="ys_navph2_thirnav_li">
              <div class="ys_navph2_thirnav_lisbox">
                <a
                  href="{$field2.typeurl}"
                  target="_self"
                  class="ys_navph2_thirnav_a"
                >
                  {$field2.typename}
                </a>
              </div>
              <!-- 四级 -->
              <ul class="ys_navph2_fournav"></ul>
            </li>
            {/eyou:models} {/eyou:notempty}
          </ul>
        </li>
        {/eyou:models}
      </ul>
      <!-- 语言选择 -->
      <div class="ys_navph2_lang">
        <div class="ys_navph2_lang_btn">
          <img
            src="{eyou:global name='web_templets_pc' /}/skin/img/lang.png"
            alt=""
          />
          <span>Language</span>
        </div>
      </div>
      <!-- 语言选择弹窗 -->
      <div class="ys_navph2_lang_modal">
        <div class="ys_navph2_lang_back">&lt; Menu</div>
        <ul class="ys_navph2_subnav">
          <li class="ys_navph2_subnav_li">
            <div class="ys_navph2_subnav_lisbox">
              <a href="javascript:;" class="ys_navph2_subnav_a">APAC</a>
              <div class="ys_navph2_nav_icon"></div>
            </div>
            <ul class="ys_navph2_thirnav">
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a
                    href="https://www.aforenergy.com"
                    target="_self"
                    class="ys_navph2_thirnav_a"
                    >English (Global)</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >English (AU&NZ)</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a
                    href="https://www.afore.co.jp/"
                    target="_blank"
                    class="ys_navph2_thirnav_a"
                  >
                    日本語
                  </a>
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >中文</a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="ys_navph2_subnav_li">
            <div class="ys_navph2_subnav_lisbox">
              <a href="javascript:;" class="ys_navph2_subnav_a">AMER</a>
              <div class="ys_navph2_nav_icon"></div>
            </div>
            <ul class="ys_navph2_thirnav">
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_self" class="ys_navph2_thirnav_a"
                    >English</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Português (BR)</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Español (LATAM)</a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="ys_navph2_subnav_li">
            <div class="ys_navph2_subnav_lisbox">
              <a href="javascript:;" class="ys_navph2_subnav_a">EMEA</a>
              <div class="ys_navph2_nav_icon"></div>
            </div>
            <ul class="ys_navph2_thirnav">
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >English</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Español (ES)</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Deutsch</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Français</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Dutch</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Polish</a
                  >
                </div>
              </li>
              <li class="ys_navph2_thirnav_li">
                <div class="ys_navph2_thirnav_lisbox">
                  <a href="#" target="_blank" class="ys_navph2_thirnav_a"
                    >Italiano</a
                  >
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
