<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="renderer" content="webkit" />
    <title>{eyou:global name='web_title' /}</title>
    <meta name="keywords" content="{eyou:global name='web_keywords' /}" />
    <meta name="description" content="{eyou:global name='web_description' /}" />

    {eyou:static file='skin/css/iframe.css' /} {eyou:static file='skin/css/bootstrap.min-v3.3.5.css'
    /} {eyou:static file='skin/css/slick.css' /} {eyou:static file='skin/css/slick-theme.css' /}
    {eyou:static file='skin/css/animate.min.css' /} {eyou:static file='skin/css/base-v1.4.css' /}
    {eyou:static file='skin/css/jquery.mCustomScrollbar.min.css' /} {eyou:static
    file='skin/css/animate.min.css' /} {eyou:static file='skin/css/css/iconfont.css' /} {eyou:static
    file='skin/css/main.css' /} {eyou:static file='skin/css/media.css' /} {eyou:static
    file='skin/css/he_base.css' /} {eyou:static file='skin/css/swiper.min.css' /} {eyou:static
    file='skin/css/gr.css' /}
  </head>

  <body>
    <!-- 头部文件 -->
    {eyou:include file="head.htm" /}

    <!-- banner -->
    <div class="he_banbx">
      <div class="he_banul">
        <!--<div class="he_banli">-->
        <!--  <div class="he_banig">-->
          
        <!--    <img src="{eyou:static file='skin/img/banner1.jpg' /}" class="he_banph" alt="" />-->
           
        <!--    <video-->
        <!--      src="http://1251075830.vod2.myqcloud.com/8af421dfvodgzp1251075830/894e9da25576678021016298013/gslyGjMq5vsA.mp4"-->
        <!--      muted=""-->
        <!--    ></video>-->
        <!--  </div>-->
         
        <!--  <div class="he_bante">-->
        <!--    <div class="he_conten1">-->
        <!--      <div class="he_bantnv">-->
        <!--        <div class="he_bantti1">-->
        <!--          <p>Leading supplier of green energy solutions</p>-->
        <!--        </div>-->
        <!--        <div class="he_bantti2">-->
        <!--          <p>-->
        <!--            Return the earth to a blue sky and become the world's most valuable green energy-->
        <!--            enterprise-->
        <!--          </p>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->

        {eyou:adv pid='1'}
        <div class="he_banli">
          <a href="#">
            <div class="he_banig">
              <img src="{$field.litpic}" class="he_banpc" alt="PC-574.jpg" />
              <!--<img src="{$field.litpic}" class="he_banph" alt="" />-->
              <!-- 手机端 -->
            </div>
            <!-- banner文字 -->
            <div class="he_bante">
              <div class="he_conten1">
                <div class="he_bantnv">
                  <div class="he_bantti1">
                    <p></p>
                  </div>
                  <div class="he_bantti2">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {/eyou:adv}
      </div>
    </div>

    <!-- 主体内容 -->
    <div class="he_main">
      <!-- SOLUTIONS -->
      <div class="jj">
        <div class="commen">
          <div class="bt aos-init aos-animate" data-aos="fade-up">
            <h1>Product</h1>
            <span></span>
          </div>
        </div>
        <div class="jja">
          <div
            class="jjb fl"
            style="background-image: url('{eyou:static file='skin/img/shouyecp001.jpg' /}')"
          >
            <a href="#">
              <h5>01</h5>
              <h6>Residential PV Solutions</h6>
              <span></span>
              <!-- <p>aaaaaaaaaaaaaaa</p> -->
            </a>
          </div>

          <div
            class="jjb fl"
            style="background-image: url('{eyou:static file='skin/img/shouyecp002.jpg' /}')"
          >
            <a href="#">
              <h5>02</h5>
              <h6>Commercial & Utility PV Solutions</h6>
              <span></span>
              <!-- <p>bbbbbbbbbbbbbbb</p> -->
            </a>
          </div>

          <div
            class="jjb fl"
            style="background-image: url('{eyou:static file='skin/img/shouyecp003.jpg' /}')"
          >
            <a href="#">
              <h5>03</h5>
              <h6>Residential Storage Solutions</h6>
              <span></span>
              <!--  <p>444444444444444444.</p> -->
            </a>
          </div>

          <div
            class="jjb fl"
            style="background-image: url('{eyou:static file='skin/img/shouyecp004.jpg' /}')"
          >
            <a href="#">
              <h5>04</h5>
              <h6>Commercial & Industrial Storage Solutions</h6>
              <span></span>
              <!-- <p>ccccccccc</p> -->
            </a>
          </div>

          <!--    <div class="jjb fl" style="background-image: url('/upload/image/20220830/76220558f71fe1fd2164d43d8a2beb9a.jpg?raw=04.jpg');">
                    <a href="solutions/grohome-system">
                        <h5>05</h5>
                        <h6>Smart Energy</h6>
                        <span></span>
                        <p>ccccccccc</p>
                    </a>
                </div> -->
          <div class="clearfix"></div>
        </div>
      </div>

      <!-- LATEST NEWS -->
      <section class="he_secton he_syp2">
        <div class="he_conten2">
          <div class="he_syp2ti">
            <div class="he_sytipu wow g_fadeup1">
              <h3>News and Exhibition</h3>
            </div>
          </div>
          <div class="he_syp2bx clearfix">
            <div class="he_syp2le fl wow g_fadeleft1">
              <div class="he_syp2len">
                <img src="{eyou:static file='skin/img/syflo1.png' /}" alt="" class="he_img" />
                <div class="he_synewig">
                  <div class="he_synewsg">
                    {eyou:artlist loop="4" typeid="2" }

                    <img src="{$field.litpic} " alt="{$field.title}" class="he_img1" />
                    {/eyou:artlist}
                  </div>
                </div>
              </div>
            </div>
            <div class="he_syp2ri fr">
              <div class="he_syp2rul">
                {eyou:artlist loop="4" typeid="2" titlelen="70" }
                <div class="he_syp2rli wow g_fadeup1">
                  <a href="{$field.arcurl}">
                    <div class="he_syp2rte">
                      <span class="he_syp1tim">{$field.add_time|MyDate='Y-m-d',###}</span>
                      <p class="he_syp1tom">{$field.title}</p>
                    </div>
                  </a>
                </div>
                {/eyou:artlist}
              </div>
            </div>
          </div>
          <div class="he_syp2mo wow g_fadeup1">
            <div class="he_syp2mob">
              {eyou:type typeid="2" id="field"}

              <a href="{$field.typeurl}">More news</a>
              {/eyou:type}
            </div>
          </div>
        </div>
        <!-- 左边装饰图 -->
        <!-- <div class="he_syp2zs wow g_fadein1">
            <img src="{$GLOBALS['skin']}img/syp2zs.png" alt="">
          </div> -->
      </section>

      <!-- ABOUT GOODWE -->
      <div class="zc">
        <div class="commen">
          <div class="bt aos-init" data-aos="fade-up">
            <p>Support & Service</p>
            <span></span>
          </div>
          <div class="zca">
            {eyou:type typeid="72" id="field"}

            <div class="zca_a aos-init" data-aos="fade-up">
              <a href="{$field.typeurl}">
                {eyou:adv pid='7'}
                  <img src='{$field.litpic}' alt='{$field.title}' />
                {/eyou:adv}
                <h6>Download</h6>
                <!--  <p>1111111111111</p> -->
              </a>
            </div>
            {/eyou:type} {eyou:type typeid="73" id="field"}

            <div class="zca_a aos-init" data-aos="fade-up">
              <a href="{$field.typeurl}">
                 {eyou:adv pid='8'}
                  <img src='{$field.litpic}' alt='{$field.title}' />
                {/eyou:adv}
                <h6>Warranty</h6>
                <!--  <p>11111111111111</p> -->
              </a>
            </div>
            {/eyou:type} {eyou:type typeid="74" id="field"}

            <div class="zca_a aos-init" data-aos="fade-up">
              <a href="{$field.typeurl}">
                {eyou:adv pid='9'}
                  <img src='{$field.litpic}' alt='{$field.title}' />
                {/eyou:adv}
                <h6>Online Support</h6>
                <!-- <p>1111111111111</p> -->
              </a>
            </div>
            {/eyou:type} {eyou:type typeid="75" id="field"}

            <div class="zca_a aos-init" data-aos="fade-up">
              <a href="{$field.typeurl}">
                {eyou:adv pid='10'}
                  <img src='{$field.litpic}' alt='{$field.title}' />
                {/eyou:adv}
                <h6>Monitoring Login</h6>
                <!-- <p>1111111111</p> -->
              </a>
            </div>
            {/eyou:type} {eyou:type typeid="76" id="field"}
            <div class="zca_a aos-init" data-aos="fade-up">
              <a href="{$field.typeurl}">
                 {eyou:adv pid='11'}
                  <img src='{$field.litpic}' alt='{$field.title}' />
                {/eyou:adv}
                <h6>FAQs</h6>
                <!-- <p>1111111111</p> -->
              </a>
            </div>
            {/eyou:type}
          </div>
        </div>
      </div>

      <section class="he_secton he_syp3">
        <div class="he_secton he_syp4" style="display: block">
          <div class="he_syp4bx">
            <div class="he_syp4bti">
              <div class="he_sytipu">
                <p>NEWSLETTER</p>
                <div class="he_syxijm">
                  <p>Get industrial insights and Afore news here.</p>
                </div>
              </div>
            </div>
            <div class="he_syp4in">
              <div class="he_syp4inp">
                <input type="text" placeholder="Please enter an email address" />
              </div>
              <div class="he_syp4inbt">
                <input type="submit" value="Subscribe Email" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    {eyou:include file="bottom.htm" /}
  </body>
</html>
