<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="renderer" content="webkit" />
    <title>{$eyou.field.seo_title}-{eyou:global name='web_name' /}</title>
    <meta name="description" content="{$eyou.field.seo_description}" />
    <meta name="keywords" content="{$eyou.field.seo_keywords}" />

    {eyou:static file='skin/css/iframe.css' /}
    <!-- public start -->

    {eyou:static file='skin/css/bootstrap.min-v3.3.5.css' /}
    {eyou:static file='skin/css/slick.css' /}

    {eyou:static file='skin/css/slick-theme.css' /}

    {eyou:static file='skin/css/animate.min.css' /}

    {eyou:static file='skin/css/base-v1.4.css' /}

    {eyou:static file='skin/css/jquery.mCustomScrollbar.min.css' /}

    {eyou:static file='skin/css/animate.min.css' /}

    {eyou:static file='skin/css/iconfont.css' /}

    {eyou:static file='skin/css/main.css' /}

    {eyou:static file='skin/css/media.css' /}

    {eyou:static file='skin/css/he_base.css' /}

    {eyou:static file='skin/css/swiper.min.css' /}
</head>

<body>
    <div class="he_nyym he_f1ym">





        <!-- pc顶部导航 -->
        {eyou:include file="head.htm" /}



        <!-- 内页banner -->
        <div class="he_banbx he_banbx1">
            <div class="he_banli">
                <div class="he_banig">
                    <img src="{$eyou.field.typelitpic}" class="he_banpc" alt="">
                    <img src="{$eyou.field.typelitpic}" class="he_banph" alt="">
                </div>
                <!-- banner文字 -->
                <div class="he_bante">
                    <div class="he_conten1">
                        <div class="he_bantnv">
                            <div class="he_bantti1">
                                <h1>
                                    <p>
                                        {$eyou.field.typename}
                                    </p>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="he_main">
            <!-- 二级导航 -->
            <!-- <div class="he_funav">
                    <div class="he_conten1">
                        <div class="he_funavul">
                            <div class="he_funavli yxnav_active2">
                                <a href="/contact/contact-us">
                                    联系我们
                                </a>
                            </div>
                            <div class="he_funavli ">
                                <a href="/contact/contact-us?tp1">
                                    在线留言
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            <div class="he_f1p1">
                <!--面包屑-->
                <div class="he_bordkm">
                    <div class="s_cont1360">
                        <div class="he_bordul clearfix">
                            <div class="he_bordfr fl">
                                <a href="/">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi1.svg" alt=""
                                        class="he_int1">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi2.svg" alt=""
                                        class="he_int2">
                                </a>
                            </div>
                            <div class="he_bordli fl">
                                &gt;
                                {eyou:position style=' '/}
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <div class="he_f1p2" style="padding-top:30px">
                <div class="he_conten3">
                    <div class="he_f1p2bx">
                        <div class="he_f1p2ul clearfix">


                            <div class="he_f1p1nli fl wow g_fadeup1" data-num="0" style="width:24%;padding-top:40px;">
                                <div class="he_f1p1nbn" style="padding: 34px 26px 45px 16px;">
                                    <div class="he_f1p1na1 clearfix">
                                        <div class="he_f1p1na1le fl">
                                            <p>
                                                China
                                            </p>
                                        </div>
                                        <div class="he_f1p1na1ri fl">
                                            <img src="{eyou:global name='web_templets_pc' /}/skin/img/china.jpeg"
                                                alt="f1g3.jpg">
                                        </div>
                                    </div>
                                    <div class="he_f1p1na2">
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon1.svg"
                                                    alt="" class="he_img">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon4.svg"
                                                    alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    Building 7, No.333 Wanfang Rd，Minhang District,
                                                </p>
                                            </div>
                                        </div>
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon2.svg"
                                                    alt="" class="he_img">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon5.svg"
                                                    alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    +86-21-54326236
                                                </p>
                                            </div>
                                        </div>
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon3.svg"
                                                    alt="" class="he_img">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon6.svg"
                                                    alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    info@aforenergy.com

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="he_f1p1nli fl wow g_fadeup1" data-num="0" style="width:24%;padding-top:40px;">
                                <div class="he_f1p1nbn" style="padding: 34px 26px 45px 16px;">
                                    <div class="he_f1p1na1 clearfix">
                                        <div class="he_f1p1na1le fl">
                                            <p>
                                                Italy Office
                                            </p>
                                        </div>
                                        <div class="he_f1p1na1ri fl">
                                            <img src="{eyou:global name='web_templets_pc' /}/skin/img/u.jpeg"
                                                alt="f1g3.jpg">
                                        </div>
                                    </div>
                                    <div class="he_f1p1na2">
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon1.svg"
                                                    alt="" class="he_img">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon4.svg"
                                                    alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    Commercity,MODULO L43, Viale Alexandre Gustave Eiffel, 100, 00148
                                                    Roma RM
                                                </p>
                                            </div>
                                        </div>
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{$GLOBALS['skin']}img/f1icon2.svg" alt="" class="he_img">
                                                <img src="{$GLOBALS['skin']}img/f1icon5.svg" alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    +39 3513399999
                                                </p>
                                            </div>
                                        </div>
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{$GLOBALS['skin']}img/f1icon2.svg" alt="" class="he_img">
                                                <img src="{$GLOBALS['skin']}img/f1icon5.svg" alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    F. +39 0640419655
                                                </p>
                                            </div>
                                        </div>
                                        <div class="he_f1p1na2li">
                                            <div class="he_f1p1na2lii">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon3.svg"
                                                    alt="" class="he_img">
                                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1icon6.svg"
                                                    alt="" class="he_img1">
                                            </div>
                                            <div class="he_f1p1na2liz">
                                                <p>
                                                    afore@aforeitaly.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="he_f1p3">
                <div class="he_conten3">
                    <div class="he_f1p3bx"
                        style="background:url({eyou:global name='web_templets_pc' /}/skin/img/f1pic01.jpeg) center / cover no-repeat">
                        <div class="he_f1p3nk clearfix">
                            <div class="he_f1p3nl1">
                                <p>
                                    Sunshine cooperation, honesty and win-win!
                                </p>
                            </div>
                            <div class="he_f1p3nl2">
                                <div class="he_f1p3nja">
                                    <p>
                                        After sales service center
                                    </p>
                                </div>
                                <div class="he_f1p3njl ">
                                    <a href="tel:400-998-1212">
                                        <div class="he_f1p3ngsle">
                                            <img src="{eyou:global name='web_templets_pc' /}/skin/img/f1phon.svg"
                                                alt="">
                                        </div>
                                        <div class="he_f1p3ngsri">
                                            <p>
                                                800-238-802（China）
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="he_f1p3code">
                                <img src="{eyou:global name='web_templets_pc' /}/skin/img/ewm.jpg"
                                    alt="shouhouerweima.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="he_f1p4 he_d1bxli" data-num="1">
                <div class="s_d2cont2 he_conten3">
                    <form id="form1" method="post">
                        <div class="s_d2c1tit font1 s_d2c2tit">
                            <h2>
                                <span>
                                    Online
                                </span>
                                Message
                            </h2>
                        </div>
                        <div class="s_d2c2main">
                            <div class="s_d2c2m1 clearfix s_d2c2m">
                                <div class="s_d2c2input fl">
                                    <div class="s_d2c2inputbox">
                                        <input type="text" name="subject">
                                        <div class="s_d2c2inputwz p18">
                                            Theme
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="s_d2c2m2 clearfix s_d2c2m">
                                <div class="s_d2c2input fl">
                                    <div class="s_d2c2inputbox">
                                        <input type="text" name="name">
                                        <div class="s_d2c2inputwz p18">
                                            Name
                                        </div>
                                    </div>
                                </div>
                                <div class="s_d2c2input fl">
                                    <div class="s_d2c2inputbox">
                                        <input type="text" name="country">
                                        <div class="s_d2c2inputwz p18">
                                            E-mail
                                        </div>
                                    </div>
                                </div>
                                <div class="s_d2c2input fl">
                                    <div class="s_d2c2inputbox">
                                        <input type="text" name="tel">
                                        <div class="s_d2c2inputwz p18">
                                            Tel
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="s_d2c2input fl">-->
                                <!--<div class="s_d2c2inputbox">-->
                                <!--<input type="text" name="box">-->
                                <!--<div class="s_d2c2inputwz p18">邮箱</div>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>

                            <!--<div class="s_d2c2m4 clearfix s_d2c2m s_d2c2mn">-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="street">-->
                            <!--<div class="s_d2c2inputwz p18">街道</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="city">-->
                            <!--<div class="s_d2c2inputwz p18">城市</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="code">-->
                            <!--<div class="s_d2c2inputwz p18">邮政编码</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2m5 clearfix s_d2c2m s_d2c2mn">-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="title">-->
                            <!--<div class="s_d2c2inputwz p18">标题</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="fax">-->
                            <!--<div class="s_d2c2inputwz p18">传真</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2m6 clearfix s_d2c2m s_d2c2mn">-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="info">-->
                            <!--<div class="s_d2c2inputwz p18">信息一</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="s_d2c2m7 clearfix s_d2c2m s_d2c2mn">-->
                            <!--<div class="s_d2c2input fl">-->
                            <!--<div class="s_d2c2inputbox">-->
                            <!--<input type="text" name="infos">-->
                            <!--<div class="s_d2c2inputwz p18">信息二</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="s_d2c2m8 s_d2c2m ">
                                <div class="s_d2c2input">
                                    <div class="s_d2c2inputbox">
                                        <div class="s_d2c2inputwz p18">
                                            Content
                                        </div>
                                        <textarea name="message">
                                            </textarea>
                                    </div>
                                </div>
                            </div>


                            <input type="hidden" name="catid" value="1">
                            <input type="hidden" name="modelid" value="47">
                            <div class="s_d2c2m11" onclick="submitForm('form1')">
                                <div class="s_d2c2tj p18">
                                    Submit
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->


        {eyou:include file="bottom.htm" /}
        <!-- public end -->
        <script>
            new WOW().init();
        </script>
        <script>

            function submitForm() {
                let subject = $("input[name='subject']").val();
                let name = $("input[name='name']").val();
                let country = $("input[name='country']").val();
                let tel = $("input[name='tel']").val();
                let message = $("textarea[name='message']").val();

                let data = {
                    title: subject,
                    user: name,
                    country: country,
                    tel: tel,
                    body: message,
                }
                console.log(data, "--data")
                $.post("index.php?c=message&a=add", { data }, function (data, status) {
                    console.log(data, "=data")
                });
            }

            // 地图
            $('.he_f1p1nli').click(function () {
                var indexco = $(this).data('num');
                $('.he_ghdot').eq(indexco).addClass('on').siblings().removeClass('on');
                var coord = $(this).find('.he_f1p1nbn').data('coord');
                var arr = coord.split("%")[0];
                var arrj = Math.floor(arr) - 50 + Math.floor(arr) + "%";
                var arr1 = coord.split("%")[1];
                var arr1j = Math.floor(arr1) - 50 + Math.floor(arr1) + "%";
                var hebing = arrj + arr1j;
                $('.he_ghigwb').css('transform-origin', hebing);
                // console.log(coord)
                $('.he_f1p1').addClass('on');
                $('.he_ghigwb').addClass('on');
            })

            $(".he_f1p1lul").on("beforeChange", function (a, b, c, nextIndex) {
                $('.he_f1p1nli[data-slick-index=' + nextIndex + ']').trigger("click");
            });

            //  坐标点点击

            $('.he_ghdot').click(function () {
                var dotd = $(this).data("dotx");
                console.log(dotd)
                $(".he_f1p1lul").slick("slickGoTo", dotd);
            })


            //下拉选择
            $(function () {
                $(".s_d2c2xlnr").each(function () {
                    $(this).attr("data-value", $(this).text());
                });
                $(".s_d2c2xltop").click(function (e) {
                    e.stopPropagation();
                    $(this).siblings(".s_d2c2xlbot").slideToggle();
                    $(this).parents().siblings().find(".s_d2c2xlbot").slideUp();
                    $(this).toggleClass("on");
                })

                $(".s_d2c2xlnr").click(function (e) {
                    var selectShow = $(this).text();
                    var realVal = $(this).attr("data-value");
                    $(this).parents().find(".s_d2c2xlbot").slideUp();
                    $(this).parents('.s_d2c2xl').find(".s_d2c2xltop").find(".s_select_show").val(
                        selectShow);
                    $(this).parents('.s_d2c2xl').find(".s_d2c2xltop").find(".s_select_real").val(realVal)
                        .trigger("change");
                    $('.s_d2c2xltop').removeClass('on');
                    $(this).parents(".s_d2c2xl").find(".s_d2c2inputwz").hide();
                })

                $('body').click(function (e) {
                    $('.s_d2c2xl').find('.s_d2c2xlbot').stop().slideUp();
                    $('.s_d2c2xltop').removeClass('on');
                });
            });

            $(".s_d2c2m10l").click(function (e) {
                e.stopPropagation();
                $(this).toggleClass("act");
            })

            //输入框正在输入时
            $(".s_d2c2input input").on('input', function () {
                if (!($(this).val() == '')) {
                    $(this).parents(".s_d2c2input").find(".s_d2c2inputwz").addClass('on');
                } else {
                    $(this).parents(".s_d2c2input").find(".s_d2c2inputwz").removeClass('on');
                }
            })

            $(".s_d2c2input textarea").on('input', function () {
                if (!($(this).val() == '')) {
                    $(this).parents(".s_d2c2input").find(".s_d2c2inputwz").addClass('on');
                } else {
                    $(this).parents(".s_d2c2input").find(".s_d2c2inputwz").removeClass('on');
                }
            })

            $(function () {
                var scrollInertiaNum;
                if (/firefox/.test(navigator.userAgent.toLowerCase())) {
                    scrollInertiaNum = 200;
                } else {
                    scrollInertiaNum = 200;
                }
                $(".he_d2heig").mCustomScrollbar({
                    theme: 'dark',
                    scrollInertia: scrollInertiaNum,
                    horizontalScroll: false,
                    axis: "y",
                });
            });
            $('.he_f1p1lul').slick({
                centerMode: true,
                centerPadding: '200px',
                slidesToShow: 4,
                prevArrow: ".he_f1p1btle",
                nextArrow: ".he_f1p1btri",
                focusOnSelect: true,
                responsive: [{
                    breakpoint: 1681,
                    settings: {
                        centerPadding: '300px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 1561,
                    settings: {
                        centerPadding: '240px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 1441,
                    settings: {
                        centerPadding: '160px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 1386,
                    settings: {
                        centerPadding: '110px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 1280,
                    settings: {
                        centerPadding: '60px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 1025,
                    settings: {
                        centerPadding: '0px',
                        slidesToShow: 3,
                    }
                }, {
                    breakpoint: 991,
                    settings: {
                        centerPadding: '260px',
                        slidesToShow: 1,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        centerPadding: '160px',
                        slidesToShow: 1,
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        centerPadding: '20px',
                        slidesToShow: 1,
                        // adaptiveHeight: true,
                    }
                }]
            });
            $('.he_f1p1nli').click(function () {
                $('.he_f1p1map').addClass('he_xiox')
                var num = $(this).data("num");
                console.log(num)
                $('.he_f1p1mli').eq(num).fadeIn().siblings().hide();
                $('.he_f1p1mli').eq(num).addClass('on').siblings().removeClass('on');
                // $(".he_f1p1mwb img").attr("src", src);
                anime({
                    targets: '.he_f1p1mli',
                    opacity: ['0', '1'],
                    easing: 'linear',
                    duration: 360
                });
            });

            $(".he_f1p1lul").on("beforeChange", function (a, b, c, nextIndex) {
                $('.he_f1p1map').addClass('he_xiox')
                $('.he_f1p1mli').eq(nextIndex).fadeIn().siblings().hide();
                $('.he_f1p1mli').eq(nextIndex).addClass('on').siblings().removeClass('on');
            });
            var test = (window.location.href).split('?tp');

            if (!isNaN(test[1])) {

                $("html,body").animate({
                    scrollTop: $('.he_d1bxli[data-num="' + test[1] + '"]').offset().top - 50
                }, 700);
            }
        </script>

</body>

</html>