<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="renderer" content="webkit" />
  <title>{$eyou.field.seo_title}-{eyou:global name='web_name' /}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />

    {eyou:static file='skin/css/iframe.css' /}
  <!-- public start -->

   {eyou:static file='skin/css/bootstrap.min-v3.3.5.css' /}
   {eyou:static file='skin/css/slick.css' /}

    {eyou:static file='skin/css/slick-theme.css' /}

    {eyou:static file='skin/css/animate.min.css' /}

  {eyou:static file='skin/css/base-v1.4.css' /}

  {eyou:static file='skin/css/jquery.mCustomScrollbar.min.css' /}

  {eyou:static file='skin/css/animate.min.css' /}

   {eyou:static file='skin/css/iconfont.css' /}

   {eyou:static file='skin/css/main.css' /}

  {eyou:static file='skin/css/media.css' /}

   {eyou:static file='skin/css/he_base.css' /}

 {eyou:static file='skin/css/swiper.min.css' /}

 </head>
  <body>

    <div class="he_nyym he_b1g3ye">

      {eyou:include file="head.htm" /}

      <!-- 内页banner -->
      <div class="he_banbx he_banbx1">
        <div class="he_banli">
          <div class="he_banig">
            <img src="{$eyou.field.typelitpic}" class="he_banpc" alt="">
            <img src="{$eyou.field.typelitpic}" class="he_banph" alt="">
          </div>
          <!-- banner文字 -->
          <div class="he_bante">
            <div class="he_conten1">
              <div class="he_bantnv">
                <div class="he_bantti1">
                  <h1>
                    <p>
                     {$eyou.field.typename}
                    </p>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 主体内容 -->
      <div class="he_main">
        <div class="s_content">
          <!--面包屑-->
          <div class="he_bordkm">
            <div class="s_cont1360">
              <div class="he_bordul clearfix">
                <div class="he_bordfr fl">
                  <a href="/">
                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi1.svg" alt="" class="he_int1">
                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/bordi2.svg" alt="" class="he_int2">
                  </a>
                </div>
                <div class="he_bordli fl">
                  &gt;
                  {eyou:position style=' '/}

                </div>

              </div>
            </div>
          </div>


            <div class="s_b1_3cont3">
                    <div class="s_b1_3c3box s_cont1360">
                        <div class="he_b1p3ti wow g_fadeup1">
                            <h2 class="he_x40ft">Afore is a leading photovoltaic inverter supplier in China</h2>
                        </div>
                        <div class="s_b1_3c3 clearfix">
                            <div class="s_b1_3c3nr fl wow g_fadeup1">
                                <div class="s_b1_3c3ig">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abzuo01.png" alt="" class="s_b1_3c3ig1">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abzuo01.png" alt="55.png" class="s_b1_3c3ig2">
                                </div>
                                <div class="s_b1_3c3tit font1">
                                    <h5>Our Vision</h5>
                                </div>
                                <div class="s_b1_3c3xian"></div>
                                <div class="s_b1_3c3nrp">
                                    <p>
                                       To be a leading force in renewable energy, advancing innovative technologies that contribute to a sustainable future and preserving the environment for future generations.                                  </p>
                                </div>
                            </div><div class="s_b1_3c3nr fl wow g_fadeup1">
                                <div class="s_b1_3c3ig">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abzhong01.png" alt="" class="s_b1_3c3ig1">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abzhong01.png"  alt="57.png" class="s_b1_3c3ig2">
                                </div>
                                <div class="s_b1_3c3tit font1">
                                    <h5>Our Mission</h5>
                                </div>
                                <div class="s_b1_3c3xian"></div>
                                <div class="s_b1_3c3nrp">
                                    <p>
                                        To develop and deliver cutting-edge, low-carbon, and environmentally-friendly solar inverter and energy stoage solutions that drive the transition to clean energy and enhance the quality of life globally.
                                  </p>
                                </div>
                            </div><div class="s_b1_3c3nr fl wow g_fadeup1">
                                <div class="s_b1_3c3ig">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abyou01.png" width="120px" alt="" class="s_b1_3c3ig1">
                                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/abyou01.png" width="120px" alt="56.png" class="s_b1_3c3ig2">
                                </div>
                                <div class="s_b1_3c3tit font1">
                                    <h5>Our Values</h5>
                                </div>
                                <div class="s_b1_3c3xian"></div>
                                <div class="s_b1_3c3nrp">
                                    <p>
                                        Innovation, Sustainability, Integrity, Customer Focus, Excellence                                     </p>
                                </div>
                            </div>                        </div>
                    </div>
                </div>


          <div class="he_b1p4js wow g_fadein1" style="background: url({eyou:global name='web_templets_pc' /}/skin/img/b1xym.png) center / cover no-repeat;">
            <div class="s_cont1360">
              <div class="he_b1p4jsxt wow g_fadeup1">
                <p>
                </p>
              </div>
              <div class="he_b1p4jsdt wow g_fadeup1">
                <h2 class="he_x40ft">
                 Corporate Culture
                </h2>
              </div>
            </div>
          </div>

          <div class="s_b1_3cont4">
            <div class="s_b1_3c4 s_cont1360 wow g_fadein1">
              <div class="s_b1_3c4box">
                <div class="s_b1_3c4bg">
                  <div class="he_b1tulb">
                    <div class="he_b1tuli">
                      <img src="{eyou:global name='web_templets_pc' /}/skin/img/333-141.jpeg" alt="333-141.jpg">
                    </div>
                    <div class="he_b1tuli">
                      <img src="{eyou:global name='web_templets_pc' /}/skin/img/333-405.jpeg" alt="333-405.jpg">
                    </div>
                    <!--<div class="he_b1tuli">-->
                    <!--  <img src="{eyou:global name='web_templets_pc' /}/skin/img/333-285.jpeg" alt="333-285.jpg">-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="s_b1_3c4nrbox">
                  <div class="s_b1_3c4nr clearfix">
                    <div class="s_b1_3c4nrr fr">
                      <div class="s_b1_3c4nrrtpbox">
                        <div class="s_b1_3c1playan">
                          <div class="s_b1_3c1playig">
                            <div class="s_b1_3c1playigbox">
                              <img class="s_b1_3play_zt" src="{eyou:global name='web_templets_pc' /}/skin/img/01.svg" alt="01.svg">
                            </div>
                          </div>
                          <!-- 动感圈圈 -->
                          <div class="s_syqq_act">
                            <svg class="fp-arc-loader" width="61" height="63">
                              <circle class="arc" cx="32.5" cy="26.6" r="28" fill="none" stroke-dasharray="0, 0"
                              stroke-dashoffset="5" transform="rotate(-285 28 28)" stroke="#e60012" stroke-opacity="1"
                              stroke-width="4px" style="stroke-dashoffset:182.8644px; stroke-dasharray: 176.2px, 182.8644px;">
                              </circle>
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="s_b1_3c4tit">
                        <h3>
                          CEO's Message
                        </h3>
                      </div>
                      <div class="s_b1_3c4nrrp pra1">
                        <p>
                          “To make a better life and better world, we believe the solar energy will enter into every family just like the tap water. To achieve this, Afore dedicating ourselves to be the top supplier of PV inverter, providing global partner with reliable product and consummate service. As a global company, we are subject to the market rule, keep innovation, focus on quality, provide satisfied service. Boost the development of PV industry, and leave our future generations a better legacy.”
                        </p>
                      </div>
                    </div>
                    <div class="s_b1_3c4nrl fr">
                      <div class="s_b1_3c4nrltw">
                        <a href="#" class="clearfix">
                          <div class="s_b1_3c4nrltwigbox fl">
                            <div class="s_syqq_act">
                            </div>
                            <div class="s_b1_3c4nrltwig">
                              <img src="{eyou:global name='web_templets_pc' /}/skin/img/b1_3c4icon1-25.svg" alt="b1_3c4icon1-25.svg">
                            </div>
                          </div>
                          <div class="s_b1_3c4nrltwz fr">
                           Smart Energy
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="s_b1_3c4nr clearfix">
                    <div class="s_b1_3c4nrr fr">
                      <div class="s_b1_3c4nrrtpbox">
                        <div class="s_b1_3c1playan">
                          <div class="s_b1_3c1playig">
                            <div class="s_b1_3c1playigbox">
                              <img class="s_b1_3play_zt" src="{eyou:global name='web_templets_pc' /}/skin/img/02.svg" alt="">
                            </div>
                          </div>
                          <!-- 动感圈圈 -->
                          <div class="s_syqq_act">
                            <svg class="fp-arc-loader" width="61" height="63">
                              <circle class="arc" cx="32.5" cy="26.6" r="28" fill="none" stroke-dasharray="0, 0"
                              stroke-dashoffset="5" transform="rotate(-285 28 28)" stroke="#e60012" stroke-opacity="1"
                              stroke-width="4px" style="stroke-dashoffset:182.8644px; stroke-dasharray: 176.2px, 182.8644px;">
                              </circle>
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="s_b1_3c4tit">
                        <h3>
                          Vision and Mission
                        </h3>
                      </div>
                      <div class="s_b1_3c4nrrp pra1">
                        <p>
                         Afore dedicated to low-carbon, renewable and environment-friendly PV string inverter technology research and development. We have the ingenious wish of leaving something good to our future generations. Leave the sky blue, to be one of the most valuable company of renewable energy.


                        </p>
                      </div>
                    </div>
                    <div class="s_b1_3c4nrl fr">
                      <div class="s_b1_3c4nrltw">
                        <a href="#" target="_blank" class="clearfix">
                          <div class="s_b1_3c4nrltwigbox fl">
                            <div class="s_syqq_act">
                            </div>
                            <div class="s_b1_3c4nrltwig">
                              <img src="{eyou:global name='web_templets_pc' /}/skin/img/b1_3c4icon1_1.svg" alt="b1_3c4icon1.svg">
                            </div>
                          </div>
                          <div class="s_b1_3c4nrltwz fr">
                           Smart Energy
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>



                </div>
                <div class="s_b1_3c4mc">
                  <img src="{eyou:global name='web_templets_pc' /}/skin/img/b1_3c4img1.png" alt="">
                </div>
              </div>
              <div class="he_b1p4bx">
                <div class="he_b1p4bxti wow g_fadeup1">
                  <h2 class="he_x40ft">
                    About Us
                  </h2>
                </div>
                <div class="he_b1p4bjgk wow g_fadeup1">
                  <p>
                    Afore is a leading PV string inverter provider from China, with more than ten years dedicated experience in PV string inverter R&D and manufacturing, Afore inverters have been installed in Europe, Australia, China, Indian, Japan, North America and South America, satisfying hundreds of thousand users globally. We provide single and three-phase high-efficiency PV string inverters for a capacity of 1kW to 60kW, storage inverters and all-in-one storage products. All of our inverters are integrated with smart monitoring system. We offer not just good products, but also high-efficient local support to our partners and users throughout the inverter life span. Make sure the customers receive reliable returns by choosing Afore!
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div class="s_b1_3cont5">
            <div class="s_b1_3c5 s_cont1360 jian1">
              <div class="s_d2c1tit font1 wow g_fadeup1">
                <h2>
                  Honor
                </h2>
              </div>
              <div class="s_b1_3c5bot clearfix wow g_fadeup1">
               {eyou:artlist loop="10"  typeid="78" }
                <div class="s_b1_3c5list fl">
                  <div class="s_b1_3c5listig">
                    <img src="{$field.litpic}" alt="" class="s_b1_3c5listig1">
                    <img src="{$field.litpic}" alt="" class="s_b1_3c5listig2">
                  </div>
                  <div class="s_b1_3c5xian">
                    <img src="{eyou:global name='web_templets_pc' /}/skin/img/b1_3c5xian.png" alt="">
                  </div>
                  <div class="s_b1_3c5time font1">
                    <h4>
                     {eyou:field aid='$field.aid' addfields='ryshijian' /}
                    </h4>
                  </div>
                  <div class="s_b1_3c5listnr">
                    <p>
                     {$field.title}
                    </p>
                  </div>
                </div>
               {/eyou:artlist}

                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
         {eyou:include file="bottom.htm" /}



    <!-- public end -->
    <script>
      new WOW().init();
    </script>
    <script>
      // banner视频手机端播放
if ($(window).width() > 1024 && $('.he_banig video').length > 0) {
    $('.he_banig video').get(0).play();
}
// 数字滚动
$(".s_b1_3c2sj span").appear(function() {
    var count = $(this).text();
    var counts = parseInt(count.replace(/,/, ""));
    $(this).countTo({
        form: 1,
        to: counts,
        speed: 1500,
        refreshInterval: 90,
        onComplete: function() {
            $(this).text(count);
        }
    });
});

// 轮播
$(function() {
    $('.s_b1_3c1mainrwzbox').slick({
        dots: true,
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplaySpeed: 4200,
        vertical: true,
        adaptiveHeight: true,
        responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 1
            }
        }, {
            breakpoint: 769,
            settings: {
                vertical: false,
                fade: true,
            }
        }]
    });

    $(".s_b1_3c1mainrwzbox").on('afterChange', function(event, slick, currentSlide, nextSlide) {
        var index = currentSlide;
        $(".s_b1_3c1 .s_syqq_act .arc").css({
            strokeDashoffset: 157.8644,
        })
        $(".s_b1_3c1 .s_syqq_act .arc").addClass("act");
        setTimeout(function() {
            $(".s_b1_3c1 .s_syqq_act .arc").removeClass("act");
        }, 500);

    });
});
$(function() {

    $('.s_b1_3c4nrbox').slick({
        dots: true,
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplaySpeed: 5000,
        pauseOnHover: false,
        adaptiveHeight: true,
        asNavFor: '.he_b1tulb',
        fade: true,
        responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 1
            }
        }]
    });
    $('.he_b1tulb').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        pauseOnHover: false,
        fade: true,
        asNavFor: '.s_b1_3c4nrbox',
    });

    $(".s_b1_3c4nrbox").on('afterChange', function(event, slick, currentSlide, nextSlide) {
        var index = currentSlide;
        $(".s_b1_3c4nrbox .s_syqq_act .arc").css({
            strokeDashoffset: 182.864,
        })
        $(".s_b1_3c4nrbox .s_syqq_act .arc").addClass("act");
        setTimeout(function() {
            $(".s_b1_3c4nrbox .s_syqq_act .arc").removeClass("act");
        }, 500);
    });
})

var btna = true;
$('.s_b1_3c1 .s_b1_3c1playan').click(function() {
    $(this).toggleClass('atvc');
    if (btna) {
        $('.s_b1_3c1mainrwzbox').slick('slickPause');
    } else {
        $('.s_b1_3c1mainrwzbox').slick('slickPlay');
    }
    btna = !btna;
})
    </script>

  </body>

</html>